<h2>Cadastrar Livro</h2>

<form action="/register/save" method="post">
    <div>
        <label for="name">Título:</label>
        <input type="string" name="name" placeholder="Digite o texto" id="title">
    </div>
    <div>
        <label for="pageqty">Número de Páginas</label>
        <input type="number" name="pageqty" placeholder="Quatas páginas o livro prossui?" id="pageqty">
    </div>
    <button type="submit"> Cadastrar</button>
</form>
